body {
        font-family: 'Roboto', sans-serif;
        color:#212121
    }

:root {
    --brand-color: #2196F3;

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
}
.web-color {
    color:#2196F3;
}
}
.social-links a{
    font-weight: 500;
    font-size: 14px;
    text-decoration:none
}
.social-links a:hover,
.social-links a:focus {
    color: var(--brand-color);
}

.buttons .button {
    background-color: #F5F4FA ;
}

.buttons .button:hover,
.buttons .button:focus {
    color:#ffffff;
    background-color:var(--brand-color);
    cursor: pointer;
}
