body {
        font-family: 'Roboto', sans-serif;
    }


.buttons .button {
    background-color: #F5F4FA;
    color: #212121;
    cursor: pointer;
}
   
.buttons .button:hover,
.buttons .button:focus {
    color:#ffffff;
    background-color:#2196f3;
}