body {
        font-family: 'Roboto', sans-serif;
        color:#212121
    }

:root {
    --brand-color: #2196F3;
    --background-color:#ffffff;
}
header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: var(--background-color);
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}
.web-color1 {
    color:#2196F3;
}
.web-color2 {
    color:#000000;
}
.navigations {
    list-style-type: none;
}
.navigations a{
    font-weight: 500;
    font-size: 14px;
    text-decoration:none

}
.navigations a:hover,
.navigations a:focus {
    color: var(--brand-color);
}
.contact {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}
.contact:hover,
.contact:focus {
    color: var(--brand-color);
}
.buttons {
    list-style-type: none;
}
.buttons .button {
    background-color: #F5F4FA ;
    font-weight:500;
    font-size: 16px;
    border: none;
}

.buttons .button:hover,
.buttons .button:focus {
    color:#ffffff;
    background-color:var(--brand-color);
    cursor: pointer;
}

footer {
    background-color: #2F303A;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
}
.adress {
    color: #ffffff;
    font-size: 14px;
}
.footer-contact {
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
}